﻿body {
}


#divPrincipal {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom right, #0042a0, #007bff);
    padding: 20px;
}

h2 {
    color: white;
}


#divTable {
    background-color: white;
}

label {
    color: white;
}
