body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main {
    margin-top: 60px
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

/* breakdown da tela em smartphone bem pequeno */
@media (max-width: 407px) {
    main {
        margin-top: 90px !important;
    }
}

.navbar {
    background-image: linear-gradient(to bottom right, #0042a0, #007bff);
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFFFFF !important;
}

.sidebar .active {
    background-image: linear-gradient(to bottom right, #0042a0, #007bff);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.position-sticky .list-group .list-group-item:not(.active) {
    background-color: transparent;
}

/* SEGUINDO O PADRÃO DE CORES */
/*.sidebar {
    background-image: linear-gradient(to bottom right, #0042a0, #007bff);
}

.sidebar a {
    color: #c0bebe;
}

.sidebar a:hover {
    color: #FFFFFF;
} */